// Colors
$backgroundPrimary: #e4f2ff;
$backgroundSecondary: #d1e5f8;
$primaryDark: #001f36;
$primaryLight: #c6e6ff;
$accentPrimary: #ffdba6;
$accentSecondary: #66bcc5;

// Border radii
$innerRadius: 8px;
$outerRadius: 9px;

// Box shadows
$lightShadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$mediumShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$heavyShadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
