@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap");

:root {
  --background: #e4f2ff;
  --primary-dark: #001f36;
  --primary-light: #c6e6ff;
  --card: #d1e5f8;
  --complementary: #ffdba6;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
header,
main,
a,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  font-family: "Jost", Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

#page-header {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  background: var(--primary-dark);
  color: var(--primary-light);
  border-radius: 8px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#page-header h1 {
  font-size: 2rem;
  font-weight: 500;
}

#page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#made-by {
  display: flex;
  background: var(--primary-dark);
  color: var(--primary-light);
  gap: 0.5ch;
  padding: 10px 12px;
  border-radius: 8px;
}

#made-by a {
  color: var(--complementary);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  gap: 0.5ch;
}

img.github {
  width: 22px;
  content: url("../Assets/github.svg");
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--background);
  user-select: none;
}

#gameboard {
  display: grid;
  grid-template-rows: repeat(3, 220px);
  grid-template-columns: repeat(4, 320px);
  grid-gap: 20px;
}

#scoreboard {
  display: flex;
  gap: 2ch;
  font-weight: 500;
}

#curr-score {
  color: var(--complementary);
}

#high-score {
  color: #66bcc5;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  border: 1px solid var(--primary-dark);
  border-radius: 9px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  filter: brightness(0.95);
  transition: filter 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.film-name {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-dark);
}

.card:hover {
  transform: scale(1.02);
  filter: brightness(1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: filter 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.card > img {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card[data-img="howls"] > img {
  content: url("../Assets/howls.jpg");
}

.card[data-img="kaguya"] > img {
  content: url("../Assets/kaguya.jpg");
}

.card[data-img="kiki"] > img {
  content: url("../Assets/kiki.jpg");
}

.card[data-img="laputa"] > img {
  content: url("../Assets/laputa.jpg");
}

.card[data-img="mononoke"] > img {
  content: url("../Assets/mononoke.jpg");
}

.card[data-img="noface"] > img {
  content: url("../Assets/noface.jpg");
}

.card[data-img="ponyo"] > img {
  content: url("../Assets/ponyo.jpg");
}

.card[data-img="porco"] > img {
  content: url("../Assets/porco.jpg");
}

.card[data-img="totoro"] > img {
  content: url("../Assets/totoro.jpg");
}

.card[data-img="twr"] > img {
  content: url("../Assets/twr.jpg");
}

.card[data-img="whisper"] > img {
  content: url("../Assets/whisper.jpg");
}

.card[data-img="nausicaa"] > img {
  content: url("../Assets/nausicaa.jpg");
}

.game-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 1.2rem;
  gap: 10px;
  grid-area: 1 / 2 / span 1 / 4;
}

.prompt-content {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.prompt-score {
  font-weight: 500;
  color: var(--complementary);
}

.prompt-content button {
  margin-top: 10px;
  align-self: center;
  padding: 4px 12px;
  background-color: var(--card);
  color: var(--primary-dark);
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.prompt-content button:active {
  filter: brightness(0.7);
  transition: all 0.1s ease-in-out;
}
